Repository mehdihadeli/food-delivery-microservices, changes with the labels that .github/labeler.yml gives for each.
All labels: ansible, configuration, docker, policy, terraform, vscode

Update readme.md
  readme.md
Labels: none

Update readme.md
  readme.md
Labels: none

Delete assets/microservices.png
  assets/microservices.png
Labels: none

docs: add microservices diagram
  assets/microservices.png
Labels: none

docs: update readme
  readme.md
Labels: none

build: upgrade package versions
  src/Directory.Build.props
  src/Directory.Packages.props
  tests/Directory.Packages.props
  tests/Shared/Tests.Shared/Fixtures/SharedFixture.cs
Labels: none

ci: update ci
  .github/workflows/_pre-checks.yml
  .github/workflows/catalogs.yml
  .github/workflows/customers.yml
  .github/workflows/gateway.yml
  .github/workflows/identity.yml
  src/Services/Catalogs/Dockerfile
  src/Services/Catalogs/Dockerfile.dev
  src/Services/Catalogs/Dockerfile.watch
  src/Services/Customers/Dockerfile
  src/Services/Customers/Dockerfile.dev
  src/Services/Customers/Dockerfile.watch
  src/Services/Identity/Dockerfile
  src/Services/Identity/Dockerfile.dev
  src/Services/Identity/Dockerfile.watch
  src/Services/Orders/Dockerfile
  src/Services/Orders/Dockerfile.dev
  src/Services/Orders/Dockerfile.watch
Labels: docker

build: update docker file
  .github/workflows/_pre-checks.yml
  src/ApiGateway/Dockerfile
Labels: docker

build: update docker files
  food-delivery-microservices.slnx
  src/ApiGateway/Dockerfile
  src/ApiGateway/Dockerfile.dev
  src/ApiGateway/FoodDelivery.ApiGateway/FoodDelivery.ApiGateway.csproj
  src/Services/Catalogs/Dockerfile
  src/Services/Catalogs/Dockerfile.dev
  src/Services/Catalogs/Dockerfile.watch
  src/Services/Catalogs/FoodDelivery.Services.Catalogs.Api/FoodDelivery.Services.Catalogs.Api.csproj
  src/Services/Catalogs/FoodDelivery.Services.Catalogs/FoodDelivery.Services.Catalogs.csproj
  src/Services/Customers/Dockerfile
  src/Services/Customers/Dockerfile.dev
  src/Services/Customers/Dockerfile.watch
  src/Services/Customers/FoodDelivery.Services.Customers.Api/FoodDelivery.Services.Customers.Api.csproj
  src/Services/Customers/FoodDelivery.Services.Customers/FoodDelivery.Services.Customers.csproj
  src/Services/Identity/Dockerfile
  src/Services/Identity/Dockerfile.dev
  src/Services/Identity/Dockerfile.watch
  src/Services/Identity/FoodDelivery.Services.Identity.Api/FoodDelivery.Services.Identity.Api.csproj
  src/Services/Identity/FoodDelivery.Services.Identity/FoodDelivery.Services.Identity.csproj
  src/Services/Orders/Dockerfile
  src/Services/Orders/Dockerfile.dev
  src/Services/Orders/Dockerfile.watch
  src/Services/Orders/FoodDelivery.Services.Orders.Api/FoodDelivery.Services.Orders.Api.csproj
  src/Services/Orders/FoodDelivery.Services.Orders/FoodDelivery.Services.Orders.csproj
Labels: docker

fix: fix test issues
  tests/Shared/Tests.Shared/Fixtures/SharedFixture.cs
Labels: none

fix: fix test issues
  src/ApiGateway/Dockerfile
  src/BuildingBlocks/BuildingBlocks.Caching/BuildingBlocks.Caching.csproj
  src/BuildingBlocks/BuildingBlocks.Email/BuildingBlocks.Email.csproj
  src/BuildingBlocks/BuildingBlocks.HealthCheck/BuildingBlocks.HealthCheck.csproj
  src/BuildingBlocks/BuildingBlocks.Integration.MassTransit/BuildingBlocks.Integration.MassTransit.csproj
  src/BuildingBlocks/BuildingBlocks.Integration.MassTransit/CustomEntityNameFormatter.cs
  src/BuildingBlocks/BuildingBlocks.OpenApi/BuildingBlocks.OpenApi.csproj
  src/BuildingBlocks/BuildingBlocks.Persistence.Mongo/BuildingBlocks.Persistence.Mongo.csproj
  src/BuildingBlocks/BuildingBlocks.Resiliency/BuildingBlocks.Resiliency.csproj
  src/BuildingBlocks/BuildingBlocks.Security/BuildingBlocks.Security.csproj
  src/BuildingBlocks/BuildingBlocks.SerilogLogging/BuildingBlocks.SerilogLogging.csproj
  src/BuildingBlocks/BuildingBlocks.Validation/BuildingBlocks.Validation.csproj
  src/BuildingBlocks/BuildingBlocks.Web/BuildingBlocks.Web.csproj
  src/Services/Catalogs/Dockerfile
  src/Services/Catalogs/Dockerfile.dev
  src/Services/Catalogs/Dockerfile.watch
  src/Services/Catalogs/FoodDelivery.Services.Catalogs/Products/MassTransitExtensions.cs
  src/Services/Catalogs/FoodDelivery.Services.Catalogs/Shared/Extensions/HostApplicationBuilderExtensions/InfrastructureExtensions.cs
  src/Services/Customers/Dockerfile
  src/Services/Customers/Dockerfile.dev
  src/Services/Customers/Dockerfile.watch
  src/Services/Customers/FoodDelivery.Services.Customers/Customers/MassTransitExtensions.cs
  src/Services/Customers/FoodDelivery.Services.Customers/Products/MassTransitExtensions.cs
  src/Services/Customers/FoodDelivery.Services.Customers/RestockSubscriptions/MassTransitExtensions.cs
  src/Services/Customers/FoodDelivery.Services.Customers/Shared/Extensions/HostApplicationBuilderExtensions/InfrastructureExtensions.cs
  src/Services/Customers/FoodDelivery.Services.Customers/Users/MassTransitExtensions.cs
  src/Services/Identity/Dockerfile
  src/Services/Identity/Dockerfile.dev
  src/Services/Identity/Dockerfile.watch
  src/Services/Identity/FoodDelivery.Services.Identity/FoodDelivery.Services.Identity.csproj
  src/Services/Identity/FoodDelivery.Services.Identity/Users/MassTransitExtensions.cs
  src/Services/Orders/Dockerfile
  src/Services/Orders/Dockerfile.dev
  src/Services/Orders/Dockerfile.watch
  src/Services/Shared/FoodDelivery.Services.Shared/FoodDelivery.Services.Shared.csproj
  tests/Shared/Tests.Shared/Tests.Shared.csproj
Labels: docker

fix: fix docker file issues
  food-delivery-microservices.slnx
  src/ApiGateway/Dockerfile
  src/ApiGateway/Dockerfile.dev
  src/ApiGateway/watch.Dockerfile
  src/Services/Catalogs/Dockerfile
  src/Services/Catalogs/Dockerfile.dev
  src/Services/Catalogs/Dockerfile.watch
  src/Services/Customers/Dockerfile
  src/Services/Customers/Dockerfile.dev
  src/Services/Customers/Dockerfile.watch
  src/Services/Identity/Dockerfile
  src/Services/Identity/Dockerfile.dev
  src/Services/Identity/Dockerfile.watch
  src/Services/Orders/Dockerfile
  src/Services/Orders/Dockerfile.dev
  src/Services/Orders/Dockerfile.watch
Labels: docker

fix: fix docker files
  src/ApiGateway/Dockerfile
  src/ApiGateway/Dockerfile.dev
  src/Services/Catalogs/Dockerfile
  src/Services/Catalogs/Dockerfile.dev
  src/Services/Catalogs/Dockerfile.watch
  src/Services/Customers/Dockerfile
  src/Services/Customers/Dockerfile.dev
  src/Services/Identity/Dockerfile
  src/Services/Identity/Dockerfile.dev
  src/Services/Orders/Dockerfile
  src/Services/Orders/Dockerfile.dev
Labels: docker

feat: :sparkles: add copilot custom instructions, reusable prompts, custom chat modes
  .devcontainer/devcontainer.json
  .github/chatmodes/api-architect.chatmode.md
  .github/chatmodes/csharp-dotnet-janitor.chatmode.md
  .github/chatmodes/debug.chatmode.md
  .github/chatmodes/demonstrate-understanding.chatmode.md
  .github/chatmodes/microsoft_learn_contributor.chatmode.md
  .github/chatmodes/semantic-kernel-dotnet.chatmode.md
  .github/copilot-instructions.md
  .github/prompts/csharp-async.prompt.md
  .github/prompts/csharp-docs.prompt.md
  .github/prompts/csharp-xunit.prompt.md
  .github/prompts/dotnet-best-practices.prompt.md
  .github/prompts/dotnet-design-pattern-review.prompt.md
Labels: configuration

feat: enhance task-runner.json
  .husky/task-runner.json
  commitlint.config.js
Labels: none

chore: task-runner.json update
  .husky/task-runner.json
  scripts/run-tests.sh
Labels: none

fix: some bug fixes
  src/Services/Identity/FoodDelivery.Services.Identity/FoodDelivery.Services.Identity.csproj
  src/Services/Identity/FoodDelivery.Services.Identity/Shared/Data/IdentityDataSeeder.cs
  src/Services/Identity/FoodDelivery.Services.Identity/Shared/Extensions/HostApplicationBuilderExtensions/IdentityStorageExtensions.cs
  src/Services/Identity/FoodDelivery.Services.Identity/Shared/Extensions/HostApplicationBuilderExtensions/InfrastructureExtensions.cs
  tests/Services/Identity/FoodDelivery.Services.Identity.IntegrationTests/IdentityServiceIntegrationTestBase.cs
  tests/Services/Identity/FoodDelivery.Services.Identity.IntegrationTests/IntegrationTestCollection.cs
  tests/Services/Identity/FoodDelivery.Services.Identity.IntegrationTests/Users/Features/RegisteringUser/v1/RegisterUserTests.cs
  tests/Shared/Tests.Shared/TestBase/IntegrationTestBase.cs
Labels: none

fix: bug fix
  .husky/task-runner.json
Labels: none

fix: fix gitleaks issues
  .gitignore
  .gitleaks.toml
  .husky/task-runner.json
  _httpclients/http-client.private.env.json
Labels: configuration

.
  .agents/skills/azure-diagrams/SKILL.md
  .agents/skills/bicep-diagrams/SKILL.md
  .agents/skills/eraser-diagrams/SKILL.md
  .agents/skills/eraser-diagrams/references/architecture-syntax.md
  .agents/skills/eraser-diagrams/references/bpmn-syntax.md
  .agents/skills/eraser-diagrams/references/erd-syntax.md
  .agents/skills/eraser-diagrams/references/flowchart-syntax.md
  .agents/skills/eraser-diagrams/references/sequence-syntax.md
  .agents/skills/terraform-diagrams/SKILL.md
  .github/chatmodes/api-architect.chatmode.md
  .github/chatmodes/csharp-dotnet-janitor.chatmode.md
  .github/chatmodes/debug.chatmode.md
  .github/chatmodes/demonstrate-understanding.chatmode.md
  .github/chatmodes/microsoft_learn_contributor.chatmode.md
  .github/chatmodes/semantic-kernel-dotnet.chatmode.md
  .github/copilot-instructions.md
  .github/instructions/commit.instructions.md
  .github/prompts/csharp-async.prompt.md
  .github/prompts/csharp-docs.prompt.md
  .github/prompts/csharp-xunit.prompt.md
  .github/prompts/dotnet-best-practices.prompt.md
  .github/prompts/dotnet-design-pattern-review.prompt.md
  .gitignore
  .graphifyignore
  .husky/commit-msg
  .husky/pre-commit
  Makefile
  food-delivery-microservices.slnx
  package-lock.json
  readme.md
  skills-lock.json
Labels: configuration

.
  .gitignore
Labels: configuration

test: fix xunit v3 issues
  tests/Directory.Build.props
  tests/Directory.Packages.props
  tests/Shared/Tests.Shared/Tests.Shared.csproj
Labels: none

test: fix xunit v3 issues (#256)
  tests/Directory.Build.props
  tests/Directory.Packages.props
  tests/Shared/Tests.Shared/Tests.Shared.csproj
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler

# In some configurations (like Release Drafter), regex is enclosed with slashes (e.g., /build\/.+/), which signifies the start and end of the regular expression.
# However, in GitHub Actions' labeler.yml, you do not need to wrap your regex patterns in slashes. The tool expects just the regex itself, without the delimiters.

ansible:
- changed-files:
  - any-glob-to-any-file:
    - '.ansible-lint'
    - 'ansible.cfg'
    - 'ansible/*'
    - 'molecule/*'

configuration:
- changed-files:
  - any-glob-to-any-file:
    - '.github/*yml'
    - '.gitignore'
    - '.gitattributes'
    - '.vscode/*'
    - '.devcontainer/*'
    - '.editorconfig'
    - '.yamllint.yml'
    - '.ansible-lint'

docker:
- changed-files:
  - any-glob-to-any-file:
    - '**/Dockerfile'
    - '**/docker-compose.yml'
    - '**/docker-compose.yaml'
    - '**/docker-compose.test.yml'

github:
- any:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/*'
      - '!.github/workflows/'

source:
- all:
  - changed-files:
    - any-glob-to-any-file: 'src/**/*'
    - all-globs-to-all-files: '!src/docs/*'

policy:
- changed-files:
  - any-glob-to-any-file:
    - '.github/ISSUE_TEMPLATE/*'
    - '.github/PULL_TEMPLATE/*'
    - 'LICENSE'
    - 'SECURITY.md'

terraform:
- changed-files:
  - any-glob-to-any-file:
    - 'terraform/*'
    - '**/*.tf'
    - '**/*.lock.hcl'

vscode:
- changed-files:
  - any-glob-to-any-file:
    - '.vscode/*'

feature:
- head-branch:
  - '^(feat)(\([a-z ]+\))?\/.'
  - '^(feature)(\([a-z ]+\))?\/.'
- changed-files:
  - any-glob-to-any-file:
    - src/*

ci-cd:
- head-branch:
  - '^(ci)(\([a-z ]+\))?\/.'
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/*'
    - '.github/*'

devops:
- head-branch:
  - '^(ci)(\([a-z ]+\))?\/.'
- changed-files:
  - any-glob-to-any-file:
    - 'deployments/*'
    - '.github/workflows/*'
    - '.github/*'
    - 'terraform/*'
    - '**/*.tf'
    - '**/*.lock.hcl'
    - '**/Dockerfile'
    - '**/docker-compose.yml'
    - '**/docker-compose.yaml'
    - '**/docker-compose.test.yml'

style:
- head-branch:
  - '^(style)(\([a-z ]+\))?\/.'
- changed-files:
  - any-glob-to-any-file:
    - src/*

documentation:
- head-branch:
  - '^(docs)(\([a-z ]+\))?\/.'
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - '**/*.rst'
    - '**/*.txt'
    - docs/**
    - guides/*

performance:
- head-branch:
  - '^(perf)(\([a-z ]+\))?\/.'
- changed-files:
  - any-glob-to-any-file:
    - src/*

bug:
- head-branch:
  - '^(fix)(\([a-z ]+\))?\/.'
- changed-files:
  - any-glob-to-any-file:
    - src/*

enhancement:
- head-branch:
  - '^(refactor)(\([a-z ]+\))?\/.'
- changed-files:
  - any-glob-to-any-file:
    - src/*

build:
- head-branch:
  - '^(build)(\([a-z ]+\))?\/.'

dependencies:
- head-branch:
  - '^(build)(\([a-z ]+\))?\/.'

chore:
- head-branch:
  - '^(chore)(\([a-z ]+\))?\/.'

test:
- head-branch:
  - '^(test)(\([a-z ]+\))?\/.'
- changed-files:
  - any-glob-to-any-file:
    - 'test/*'
    - 'molecule/*'
    - 'docker-compose.test.yml'

minor:
- head-branch:
  - '^(feat)(\([a-z ]+\))?\/.'

patch:
- head-branch:
  - '^(fix)(\([a-z ]+\))?\/.'
  - '^(ci)(\([a-z ]+\))?\/.'
